streamlit>=1.35.0
numpy<2.0.0,>=1.26.0
pandas>=2.0.0
plotly>=5.18.0
opencv-contrib-python-headless
mediapipe
protobuf<4.21.0,>=3.20.0
tensorflow-cpu>=2.15.0
ultralytics
scikit-learn
matplotlib
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
segmentation-models-pytorch
albumentations
scipy
streamlit-drawable-canvas
openai
python-dotenv
Pillow
streamlit-webrtc
av
